body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #6A1384;
  color: #FFF;
  text-align: center;
}

header > div {
  padding: 20px;
  font-size: 50px;
}

header .small-title {
  display: none;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: #eaeaea;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
  color: #000;
}

@media (max-width: 600px){
.big-title{
  display: block;
}
header .small-title{
  display:none;
}
}
@media (max-width: 600px){
body .sidebar{
display: block;

}
body .sidebar{
  width: 20%}
}

@media (max-width: 400px){
body .sidebar{
display: block;

}
body .sidebar{
  display: none;
}
}
