ls#right-answer{
  position: absolute;
  display: flex;
  background-color: #6200EA;
  width: 166px;
  height: 44px;
  top: 50%;
  left: 50%;
}
header{
  background-color:#6200EA;
  width: 100%;
  height: 60px;
  display:flex;
  flex-direction: row;
  align-items: center;
}
h2 {
  position: relative;
  left: 50%;
}
h1{

  margin: 0;
  left: 20px;
  font-size: 20px;
  margin-left: 15px;
}
#start{
  position: relative;
  display: flex;
  background-color: #6200EA;
  border-radius: 40%;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
}
#done{
  position:static;
  background-color: #6200EA;
  border-radius: 40%;
  width: 30%;
}
p{
  font-weight:300;
  font-size: 20px;
  text-decoration: underline;

}
label{
  font-size: 20px;
}
input:hover,label:hover{
  text-decoration: underline overline;
}
  
body{
  max-width: 100%;
  margin: 0px;
  display: block;
  overflow: auto;
  height: 500px;
}
#quiz{
  margin:auto;
}
#questNum{
  text-decoration: none;

}
